/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: row;
}
.gap-8 {
  gap: 0.5rem;
}
.gap-16 {
  gap: 1rem;
}
